* {
    padding: 0;
    margin: 0;
}

.container {
    grid-template: 150px 1fr 50px / 200px 1fr;
    grid-template-areas: "header header" "nav main" "footer footer";
    grid-gap: 5px;
    height: 100vh;
}

.item {
    border: 1px solid black;
    padding: 10px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}